# Database Configuration
DB_HOST=ep-soft-wildflower-ai8qz7vr-pooler.c-4.us-east-1.aws.neon.tech
DB_PORT=5432
DB_NAME=neondb
DB_USER=neondb_owner
DB_PASSWORD=npg_PvZfjQI9dG3h
DB_SSLMODE=require
DATABASE_URL=postgresql://neondb_owner:npg_PvZfjQI9dG3h@ep-soft-wildflower-ai8qz7vr-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# App Configuration
APP_SECRET_KEY=tu_clave_secreta_aqui
SESSION_TIMEOUT_MINUTES=30
MAX_LOGIN_ATTEMPTS=5
BLOCK_TIME_MINUTES=15

# Backup Configuration
BACKUP_PATH=./backups
PG_DUMP_PATH=C:\\Program Files\\PostgreSQL\\18\\bin\\pg_dump.exe